body {
  margin: 0;
  font-family: 'Hahmlet', serif;
  background-color: rgb(247, 244, 241);
  color: rgb(95, 42, 21);
  height: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap')
